*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,body {
    background-image:url("umama center.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-size: cover;    
}
.main-header {
    background-color: rgb(0, 0, 0, .6);
    background-blend-mode:multiply ;
    background-image: url(umamaC.jpg);
    background-size: cover;
    padding-bottom: 30px;
}.main-nav{
    text-align: center;
    font-size: larger;
    border-bottom: rgb(255, 255, 255, .4);
}
.nav ul{
    margin: 0;
}
.nav li{  
     display: inline;
}
.nav a{
    display: inline-block;
    padding: 7px;
    color:chocolate;
    text-decoration: none;
}
.nav a:hover{
    background-color:rgb(255, 255, 255, .6);
}
.heading{
   font-family: Arial, Helvetica, sans-serif;
    color:chocolate ;
    text-align: center;
    text-decoration:dotted;
}
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  font-size: medium;
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    align-items: center;
  border-radius: 5px;
  padding: 20px;
  width: 60%;
}
label{
    font-size: x-large;
    color: chocolate;
    text-decoration:dotted;
    font-family:Arial, Helvetica, sans-serif
}
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:gray ;
  color: black;
  text-align: center;
}
.heading1{
   font-family: Arial, Helvetica, sans-serif;
    color:black;
    margin: 0;
    font-size: medium;
    text-align: center;
    text-decoration:dotted;
}
img{
    position:static;
}