* {
    box-sizing: border-box ;
     font-family: Arial, Helvetica, sans-serif;
}
body{
     background-image:url("umama center.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-size: cover;    
}
.heading{
   font-family: Arial, Helvetica, sans-serif;
    color:chocolate ;
    text-align: center;
    text-decoration:dotted;
}
.main-header {
    background-color: rgb(0, 0, 0, .6);
    background-blend-mode:multiply ;
    background-image: url(umamaC.jpg);
    background-size: cover;
    padding-bottom: 30px;
}
.main-nav{
    text-align: center;
    font-size: larger;
    border-bottom: rgb(255, 255, 255, .4);
}
.nav ul{
    margin: 0;
}
.nav li{  
     display: inline;
}
.nav a{
    display: inline-block;
    padding: 7px;
    color:chocolate;
    text-decoration: none;
}
.nav a:hover{
    background-color:rgb(255, 255, 255, .6);
}
.menus{
    position: relative;
    width: 42%;
    right: 10px;
}
.pos_cen {
    position: absolute;
    width: 42%;
    padding-left: 5px;
   
}
.menus {
    position: absolute;
    width: 44%;
    margin-right: 35px;
}
.heading{
    font-family: Arial, Helvetica, sans-serif;
    color:chocolate ;
    text-align: center;
    text-decoration:dotted;
}
p{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:large;
    color: black;
    background-color:gray;
    border-radius: 7px;
    padding: 12px; 
}
.title{
    text-align: center;
    color:yellowgreen ;
    background-color: black;
    background-size:40px ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bolder;
    font-size: x-large;
    padding-top: 5px ;
    margin-top: 45px;
    margin-left: 180px;
    margin-right: 20px;
    border-radius: 20px;
   
}
img{
    padding-bottom: 20px;
    padding-top: 15px;
    padding-right: 8px;
    height: 160px;
    width: 160px;
    transform: translateY(-0%);
    border-radius:20px;
    float: left;
    margin: 10px;
}
img:hover{
    transform: scale(1.2);
    transition: transform 1s ease-out;
}
.image{
    margin: 10px 0 5px 5px;
    width: 270px;
    height: 250px;
    box-shadow: 0 4px 8px wheat;
    background-color: rgb(20, 18, 18);
    border-radius: 10px;
    display: block;
    border-radius: 10px;
    transition: trasnform 1s ease-in;
}
.a1{
     text-align: center;
    color:rgb(19, 134, 211);
    margin: 80px 20px;
    font-size: medium;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.a1 :hover{
    background-color:skyblue;
    width: 300px;
    border-radius: 20px;
}
.a2{
    text-align: left;
    color:white ;
    margin: 30px;
    font-size: large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    background-size:contain;
    border-radius: 10px;
}
.a2 :hover{
    background-color:blue;
    border-radius: 20px;
}.footer {
  position:relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:gray ;
  color: black;
  text-align: center;
}
.heading1{
   font-family: Arial, Helvetica, sans-serif;
    color:black;
    margin: 0;
    font-size: medium;
    text-align: center;
    text-decoration:dotted;
}