*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
     background-image:url("umama center.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-size: cover;    
}
.main-header {
    background-color: rgb(0, 0, 0, .6);
    background-blend-mode:multiply ;
    background-image: url(umamaC.jpg);
    background-size: cover;
    padding-bottom: 30px;
}
.main-nav{
    text-align: center;
    font-size: larger;
    border-bottom: rgb(255, 255, 255, .4);
}
.nav ul{
    margin: 0;
}
.nav li{  
     display: inline;
}
.nav a{
    display: inline-block;
    padding: 7px;
    color:chocolate;
    text-decoration: none;
}
.nav a:hover{
    background-color:rgb(255, 255, 255, .6);
}
.menus{
    position: absolute;
    width: 40%;
    right: 3px;
}
.menus {
    position: absolute;
    width: 44%;
    margin-right: 20px;
}
.pos_cen {
    position: absolute;
    width: 42%;
    padding-left: 5px;
}
.heading{
    font-family: Arial, Helvetica, sans-serif;
    color:chocolate ;
    text-align: center;
    text-decoration:dotted;
    margin: 0px;
}
.heading1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(190, 147, 6);
    text-align: center;
    text-decoration:dotted;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:large;
    color: black;
    background-color:gray;
    border-radius: 7px;
    padding: 12px;   
}
.title{
    text-align: center;
    color:yellowgreen ;
    background-color: black;
    background-size:40px ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bolder;
    font-size: x-large;
    padding-top: 5px ;
    margin-top: 45px;
    margin-left: 180px;
    margin-right: 20px;
    border-radius: 20px;
}
.phrases{
      text-align: center;
    color: chocolate ;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:bolder;
    font-size: xx-large;
    padding-top: 10px ;
    margin: 0;
}
img{
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 8px;
    height: 160px;
    width: 160px;
     transform: translateY(-5%);
    float: left;
    border-radius: 28px;
    margin: 10px;
}
img:hover{
    transform: scale(1.2);
    transition: transform 1s ease-out;
}.a{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:smaller;
    color:white;
    font-size: 1.1rem;
    display: block;
    width: 280px;
    margin: 0 auto;
    text-decoration: none;
    padding: 5px;
    text-align: center;
    text-decoration:dotted;
    border-radius: 30px;
    background-image: linear-gradient(to right,  rgb(190, 147, 6), #685731);
    box-shadow: 0 3px 3px black;
}
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top:20px;
  background-color:gray ;
  color: black;
  text-align: center;
}
.heading2 {
   font-family: Arial, Helvetica, sans-serif;
    color:black;
    margin: 0;
    font-size: medium;
    text-align: center;
    text-decoration:dotted;
}
